body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.note-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.note{
  background-color: rgb(191, 209, 25);
  margin-top: 10px;
  border-radius: 1px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
white-space: pre-wrap;
}
.note-footer{
display: flex;
align-items: center;
justify-content: space-between;
}
.container{
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}
.note.new{
  background-color: rgb(18, 170, 170);
}
textarea{
  border: none;
  resize: none;
  background-color: rgb(18, 170, 170);
}
textarea:focus{
  outline: none;
}
.save{
  background-color: rgb(214, 206, 206);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;

}
.save:hover{
  background-color: rgb(185, 179, 179);
  cursor: pointer;
}
.delete-icon{
cursor: pointer;
}
.search{
  margin-top:15px;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: rgb(199, 194, 194);
  border-radius: 10px;
  margin-bottom: 1.5em;
}
.search input{
  background-color: rgb(199, 194, 194);
  border: none;
}
.search input:focus{
  outline: none;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dark-mode{
  background-color: black;
}
.dark-mode h1{
color: white;
}